/* ============================================= */
/*              Colours                          */
/* ============================================= */

$text-color-primary: #58e1c1;
$text-color-secondary: #777;
$link-color: #51ddfc;
$blockquote-border-color: #58e1c1;
$button-color: #fff;
$button-color-default: #51ddfc;
$button-color-error: #e4757a;
$button-color-info: #927bc1;
$button-color-success: #63cc82;
$button-color-warning: #fd7856;
$border-color: #ccc;

/* ============================================= */
/*          Media query breakpoint               */
/* ============================================= */

$media-query-breakpoint: 768px;